# Fichiers sensibles
db.sqlite3
*.sql
*.gz

# Fichiers locaux
settings_local.py
settings.py

# Dossiers
# media/
db_seeds/
node_modules/
backup_portail/
autoevaluation/
autoevaluation_irs/
cd/
portailscientifique/

# Fichiers Python
__pycache__/
*.pyc


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt


# Environment variables
.env
.env.*

# IDE / Editors
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
desktop.ini