{% extends "index.html" %}
{% load static %}


{% block content %}
<div class="page-heading contact-heading header-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Detail Publication</h4>
                    <!-- <h2>Restons en contact</h2> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="find-us">
    <div class="container">
        <div class="row">
            <!-- Titre principal -->
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Détail Publication</h2>
                </div>
            </div>

            <!-- Détail de la publication -->
            <div class="col-md-8">
                <!-- detail publication -->
                <div class="publication-detail">
                    <!-- Image de la publication -->
                    <img height="700px" width="400px" src="{{ publication.ImageUrl }}" alt="{{ publication.titre }}"
                        class="img-fluid mb-3">

                    <h3>{{ publication.titre }}</h3> <br>
                    <p>
                        <strong>Auteur(s) :</strong>
                        <br>
                        {% for auteur in publication.auteurs.all %}
                        <a href="{% url 'portail_site:detail_auteur' auteur.slug %}">{{ auteur.prenoms }} {{ auteur.nom}}</a><br>
                        {% empty %}
                        Aucun auteur
                        {% endfor %}
                        <br>

                        <strong>Encadreur(s) :</strong>
                        <br>
                        {% for encadreur in publication.encadreurs.all %}
                        <a href="{% url 'portail_site:detail_encadreur' encadreur.slug %}">{{ encadreur.grade }} {{encadreur.prenoms }} {{ encadreur.nom }}</a><br>
                        {% empty %}
                        Aucun encadreur
                        {% endfor %}
                        <br>

                        <strong>Domaine :</strong>
                        {{ publication.domaine }}
                        <br><br>

                        <strong>Mots-clés :</strong>
                        {{ publication.mots_cles }}
                        <br><br>

                        <strong>Date de publication :</strong>
                        {{ publication.date_publication }}
                        <br><br>

                        <strong>Langue :</strong>
                        {{ publication.langue }}
                    </p>
                    <p><strong>Résumé :</strong> {{ publication.resume }}</p>

                    <!-- Bouton de téléchargement du PDF -->
                    {% if publication.fichier_pdf %}
                    <a href="{{ publication.fichier_pdf.url }}" class="btn btn-outline-dark mt-2" download>
                        <i class="fa fa-download"></i> Télécharger le PDF
                    </a>
                    {% endif %}

                    <!-- Boutons d'interaction -->
                    <div class="publication-actions mt-3">
                        <button class="btn btn-primary btn-like">
                            <i class="fa fa-thumbs-up"></i> Liker
                            <span class="like-count">{{ publication.likes.count }}</span>
                        </button> <button class="btn btn-secondary"><i class="fa fa-comment"></i> Commenter</button>
                    </div>


                    <!-- Section de commentaires -->
                    <div class="comments-section mt-4">
                        <h4>Commentaires</h4>
                        <div class="comments">
                            <div class="comments-list">
                                {% for comment in comments %}
                                <p><strong>{{ comment.user.full_name }}</strong> : {{ comment.contenu }} <small>{{ comment.created_at|date:"d/m/Y H:i" }}</small></p>
                                {% empty %}
                                <p>Aucun commentaire</p>
                                {% endfor %}
                            </div>

                        </div>
                        <div class="comment-form mt-3">
                            <form method="post">
                                {% csrf_token %}
                                <textarea class="form-control" placeholder="Laissez un commentaire..."></textarea>
                                <button type="submit" class="btn btn-primary mt-2">Envoyer</button>
                            </form>
                        </div>
                    </div>

                    <!-- Réseaux sociaux -->
                    <div class="social-icons mt-4">
                        <h4>Partager</h4>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- fin detail publication -->
            </div>

            <!-- Section catégorie -->
            <div class="col-md-4">
                <div class="left-content">
                    <h4>Catégorie : {{ publication.domaine }}</h4>

                    <!-- catégorie publication -->
                    <ul class="list-group mt-3">
                        {% for pub in publications_categorie %}
                        <li class="list-group-item">
                            <a href="{% url 'portail_site:detail_publication' pub.slug %}">{{ pub.titre }}</a>
                        </li>
                        {% empty %}
                        <li class="list-group-item">Aucune autre publication dans cette catégorie.</li>
                        {% endfor %}
                    </ul>
                    <!-- fin catégorie publication -->
                </div>
            </div>
        </div>
    </div>
</div>



<div class="happy-clients">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Partenaires de recherche</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="owl-clients owl-carousel">
                    <div class="client-item">
                        <img src="{% static 'front/assets/images/client-01.png' %}" alt="1">
                    </div>

                    <div class="client-item">
                        <img src="{% static 'front/assets/images/client-01.png' %}" alt="2">
                    </div>

                    <div class="client-item">
                        <img src="{% static 'front/assets/images/client-01.png' %}" alt="3">
                    </div>

                    <div class="client-item">
                        <img src="{% static 'front/assets/images/client-01.png' %}" alt="4">
                    </div>

                    <div class="client-item">
                        <img src="{% static 'front/assets/images/client-01.png' %}" alt="5">
                    </div>

                    <div class="client-item">
                        <img src="{% static 'front/assets/images/client-01.png' %}" alt="6">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        // Like
        $('.btn-like').click(function () {
            $.post("{% url 'portail_site:like_publication' publication.pk %}", {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }, function (data) {
                if (data.liked) {
                    $('.btn-like').addClass('btn-success').removeClass('btn-primary');
                } else {
                    $('.btn-like').addClass('btn-primary').removeClass('btn-success');
                }
                $('.btn-primary').find('span.like-count').text(data.like_count);
            });
        });

        // Comment
        $('.comment-form form').submit(function (e) {
            e.preventDefault();
            var textarea = $(this).find('textarea');
            $.post("{% url 'portail_site:comment_publication' publication.pk %}", {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                content: textarea.val()
            }, function (data) {
                $('.comments-list').append(
                    `<p><strong>${data.user}</strong> : ${data.content} <small>${data.created_at}</small></p>`
                );
                textarea.val(''); // Vide le champ après soumission
            });
        });

        // Download
        $('.btn-outline-dark').click(function (e) {
            $.post("{% url 'portail_site:download_publication' publication.pk %}", {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            });
            // Le téléchargement se fait normalement via le lien
        });
    });
</script>
{% endblock scripts %}