{% extends "index.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>Inscription - Portail Scientifique</title>
{% endblock title %}

{% block style %}

{% endblock style %}


{% block content %}
<!-- Start Page Title Area -->
<div class="banner-area signup">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>Inscription</h2>
                    <ul>
                        <li>
                            <a href="{% url 'portail_site:index' %}"> Accueil </a>
                            <i class="flaticon-fast-forward"></i>
                            <p class="active"> S'inscrire </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->


<!-- SignUp -->
<section class="signup-area">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-6">
                <div class="sign-up-img">
                    <img src="{% static 'front/assets/images/signupp.png' %}" alt="singup">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="signup-form">
                    <h2>Créer un compte</h2>
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <select class="form-control" id="typeCompte">
                                        <option value="">Sélectionnez votre type de compte</option>
                                        
                                        <option value="{% url 'portail_site:inscription_etudiant' %}">
                                            Etudiant (Master/Doctorat)</option>

                                        <option value="{% url 'portail_site:inscription_enseignant' %}">
                                            Enseignant/Enseignant chercheur</option>

                                        <option value="{% url 'portail_site:inscription_institution' %}">
                                            Université/Institution
                                        </option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <a id="btnEnvoyer" href="#" class="box-btn btn-block">Envoyer</a>
                            </div>
                            <span class="already">Avez-vous déjà un compte ? <a
                                    href="{% url 'portail_site:connexion' %}">Connectez - vous!</a></span>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- End SignUp -->

{% endblock content %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById("typeCompte").addEventListener("change", function () {
            let url = this.value; // récupérer la valeur sélectionnée
            let bouton = document.getElementById("btnEnvoyer");

            if (url !== "") {
                bouton.href = url; // mettre dans le href
            } else {
                bouton.href = "#"; // désactiver si rien sélectionné
            }
        });
    });
</script>
{% endblock scripts %}