{% load static %}
    <!-- Js -->
    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
        defer></script>
    <script src="{% static 'front/assets/js/jquery.min.js' %}"></script>
    <!-- Boostrap Js  -->
    <script src="{% static 'front/assets/js/bootstrap.bundle.min.js' %}"></script>
    <!-- MeanMenu JS -->
    <script src="{% static 'front/assets/js/jquery.meanmenu.js' %}"></script>
    <script src="{% static 'front/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Owl carasol Js -->
    <script src="{% static 'front/assets/js/owl.carousel.min.js' %}"></script>
    <!-- Wow js -->
    <script src="{% static 'front/assets/js/wow.min.js' %}"></script>
    <!-- Isotope Js -->
    <script src="{% static 'front/assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- Form Validator Js  -->
    <script src="{% static 'front/assets/js/form-validator.min.js' %}"></script>
    <!-- Contact Form Js -->
    <script src="{% static 'front/assets/js/contact-form-script.js' %}"></script>
    <!-- Main js -->
    <script src="{% static 'front/assets/js/main.js' %}"></script>