{% load static %}
    <div class="navbar-area">
        <div class="mobile-nav">
            <a href="" class="logo">
                <img src="{% static 'front/assets/images/logo_4.png' %}" class="main-logo" alt="logo" />
                <img src="{% static 'front/assets/images/logo_5.png' %}" class="white-logo" alt="logo" />
            </a>
        </div>

        <div class="main-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href=" {% url 'portail_site:index' %} ">
                        <img src="{% static 'front/assets/images/logo_4.png' %}" class="main-logo" alt="logo" />
                        <img src="{% static 'front/assets/images/logo_5.png' %}" class="white-logo" alt="logo" />
                    </a>
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav text-right">
                            <li class="nav-item">
                                <a href=" {% url 'portail_site:index' %} " class="nav-link active">Accueil</a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'portail_site:publication_par_type' %}" class="nav-link dropdown-toggle">Publications</a>
                                <ul class="dropdown-menu">
                                    {% for type_doc in request.type_document %}
                                    <li class="nav-item">
                                        <a href="{% url 'portail_site:publication_par_type_detail' type_doc.slug %}" class="nav-link">
                                            {{ type_doc.libelle }}
                                        </a>
                                    </li>
                                    {% empty %}
                                    <li class="nav-item">
                                        <a href="{% url 'portail_site:publication_par_type' %}" class="nav-link">Aucun type disponible</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'portail_site:contact' %}" class="nav-link ">Contact</a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'portail_site:inscription' %}" class="nav-link">S'inscrire</a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'portail_site:connexion' %}" class="nav-link">Connexion</a>
                            </li>

                            <li class="nav-item">
                                <a href="{% url 'portail_site:a_propos' %}" class="nav-link ">A propos</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
