{% load static %}
{% load crispy_forms_tags %}

<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="modal-body">
        <div class="row">
            
            <div class="form-group col-md-6">
                {{ form.nom_institution|as_crispy_field }}
            </div>

            <div class="form-group col-md-6">
                {{form.ville_emploi|as_crispy_field}}
            </div>

            <div class="form-group col-md-6">
                {{form.region_emploi|as_crispy_field}}
            </div>

            <div class="form-group col-md-6">
                {{form.pays_emploi|as_crispy_field}}
            </div>

            <div class="form-group col-md-6">
                {{form.departement_emploi|as_crispy_field}}
            </div>

            <div class="form-group col-md-6">
                {{form.poste_occupe|as_crispy_field}}
            </div>

            <div class="form-group col-md-6">
                {{form.date_debut_emploi|as_crispy_field}}
            </div>

            <div class="form-group col-md-6">
                {{form.date_fin_emploi|as_crispy_field}}
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary waves-effect waves-light">Enregistrer</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Fermer</button>
    </div>

</form>