Bonjour M./Mme {{ user.nom }},

Vous avez été invité(e) à participer à un projet de mémoire en qualité de {{ role }}.

Afin d’accéder à la plateforme et de collaborer avec les autres participants du projet, veuillez activer votre compte en cliquant sur le lien ci-dessous :

{{ activation_url }}

Vos informations de connexion sont les suivantes :

* **Adresse e-mail :** {{ user.email }}
* **Mot de passe provisoire :** {{ password }}

Pour des raisons de sécurité, nous vous recommandons de modifier votre mot de passe après votre première connexion.

Si vous n’êtes pas à l’origine de cette invitation, vous pouvez ignorer ce message.

Cordialement,
**L’équipe du Portail Scientifique**
