{% extends "back/dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-header-title">
            <h4 class="pull-left page-title">Auteurs</h4>
            <ol class="breadcrumb pull-right">
                <!-- Custom width modal -->
                <!-- <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal"
                    data-target="#accounts-modal">Ajouter un auteur</button> -->
            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Completez votre profil auteur avant de publier un article scientifique</h3>
            </div>
            <div class="panel-body">
                <form action="{% url 'auteurs:profil_auteur' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                            <div class="row">

                                <div class="form-group col-md-12">
                                    {{form.photo|as_crispy_field}}
                                </div>
                                <div class="form-group col-md-6">
                                    {{form.prenoms|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.nom|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.email|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.orcid|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.statut|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.institution|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.facebook|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.twitter|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.linkedin|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-6">
                                    {{form.site_web|as_crispy_field}}
                                </div>

                                <div class="form-group col-md-12">
                                    {{form.biographie|as_crispy_field}}
                                </div>

                            </div>

                    <button type="submit" class="btn btn-primary waves-effect waves-light">Enregistrer</button>
                </form>


            </div>
        </div>
    </div>

</div> <!-- End Row -->
{% endblock content %}